<p id="notice"><%=  %></p>

<label><b>Recipe Name:</b></label><%= @recipe.name %><br>
<label><b>Recipe Ingredients:</b></label><%= @recipe.ingredients.html_safe %><br>
<label><b>Recipe Description:</b></label><%= @recipe.description.html_safe %>
<br>

<h2>Comments</h2>
<%= render @recipe.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
